<button class="button is-success is-light" id="trigger1-btn">Join</button>
<div class="modal" id="modal1" >
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="section modal-wrap">
            <div class="field">
                <p class="control has-icons-left has-icons-right"> 
                    <input class="input" id="create-username" type="name" placeholder="Username">
                    <span class="icon is-small is-left">
                    <i class="fa-thin fa-input-text"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left has-icons-right"> 
                    <input class="input" id="join-room-name" type="name" placeholder="Room Name">
                    <span class="icon is-small is-left">
                    <i class="fas fa-home"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" id='join-room-password' type="password" placeholder="Room Password">
                    <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success" id="join-room-btn">
                    Join
                    </button>
                </p>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<button class="button is-success is-light" id="trigger2-btn">Create</button>
<div class="modal" id="modal2">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="section modal-wrap">
            <div class="field">
                <p class="control has-icons-left has-icons-right"> 
                    <input class="input" id="create-username" type="name" placeholder="Username">
                    <span class="icon is-small is-left">
                    <i class="fas-fa-input-text"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left has-icons-right"> 
                    <input class="input" id="create-room-name" type="name" placeholder="Room Name">
                    <span class="icon is-small is-left">
                    <i class="fas fa-home"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" id='create-room-password' type="password" placeholder="Room Password">
                    <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success" id="create-room-btn">
                    Create
                    </button>
                </p>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>