<html lang='en' style="font-family:sans-serif;">
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Düdl</title>
    
  </head>
  <body>
    {{! this is the main html file wrapper for all your views }}
    <h1>DÜDL</h1>

    {{! placeholder for where the view will be injected }}
    {{{body}}}

    <footer>THIS IS A FOOTER</footer>
    {{! placeholder for where the view will be injected }}
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src='/js/frontend.js'></script>
</html>