<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>My Project Name</title>
  </head>
  <body>
    {{! this is the main html file wrapper for all your views }}
    <h1>THIS WILL SHOW UP ON EVERY PAGE</h1>

    {{! placeholder for where the view will be injected }}
    {{{body}}}

    <footer>THIS IS A FOOTER</footer>
    {{! placeholder for where the view will be injected }}
  </body>
  <script src='/js/frontend.js'></script>
</html>