    <div class="gameRoom-name">
  <h1 id="dudl"> DÜDL </h1>
    </div>
<div class="game-room-header">
    <div class="randomWords">
    <p>
       
          {{> randomWords }}
        
    </p>
    </div>

    {{!-- <div class="userInfo">
    <p>
        USER IS DRAWING
    </p>
    </div> --}}

    {{!-- <div class="time">
    <p>
        TIME
    </p>
    </div> --}}

  <div>
      <h3 id="roomName"><i class="fas fa-comments"></i> Room Name: {{roomName}}</h3>
  </div>
</div>

</div>

{{!-- inject drawing board and chat box here --}}
{{> draw-chat }}

{{! <script>
    var gameRm = document.getElementById('gameRm');
    gameRm.innerHTML = window.location.pathname.split('/')[2];
</script> }}