<h1> GET READY TO DUDLE </h1>
<div>
  <h3> DUDLE SCORES {{highscore}}</h3>
  <p>
    CONCENTRATE ON THE DUDLE
  </p>
  <p>
    CURRENT DUDLE -
    {{word}}
  </p>
</div>

{{!-- Create new user modal window   --}}
<p><button id="modal_open">Create New User</button></p>

<div id="modal_wrapper">
<div id="modal_window">

<div style="text-align: right;"><a id="modal_close" href="#">close <b>X</b></a></div>

<p>Type in your username below:</p>

<form id="modal_feedback" method="POST" action="#" accept-charset="UTF-8">
<p><input type="text" size="48" name="name" placeholder="New User"></p>
<p><input type="submit" name="feedbackForm" value="Submit"></p>
</form>

</div> <!-- #modal_window -->
</div> <!-- #modal_wrapper -->

<div class='chat-container'>
  <header class='chat-header'>
    <h1><i class='fas fa-smile'></i>Chat Box</h1>
    <a id='leave-btn' class='btn'>Leave Room</a>
  </header>
  <main class='chat-main'>
    <div class='chat-sidebar'>
      <h3><i class='fas fa-comments'></i> Room Name: {{roomName}}</h3>
      <h2 id='room-name'></h2>
      <h3><i class='fas fa-users'></i> Users</h3>
      <ul id='users'></ul>
    </div>
    <div class='chat-messages'></div>
  </main>
  <div class='chat-form-container'>
    <form id='chat-form'>
      <input
        id='msg'
        type='text'
        placeholder='Enter Message'
        required
        autocomplete='off'
      />
      <button class='btn'><i class='fas fa-paper-plane'></i> Send</button>
    </form>
  </div>
</div>

{{! <script>
    var gameRm = document.getElementById('gameRm');
    gameRm.innerHTML = window.location.pathname.split('/')[2];
</script> }}