<div class="game-room-header">
  <h1> GET READY TO DUDLE </h1>
  <div>
      <h3> DUDLE SCORES {{highscore}}</h3>
      <p>
          CONCENTRATE ON THE DUDLE 
      </p>
      <p>
          CURRENT DUDLE - {{word}}
      </p>
  </div>
</div>
 <div class="chat-container">
      <header class="chat-header">
        <h1><i class="fas fa-smile"></i>Chat Box</h1>
        <a id="leave-btn" class="btn">Leave Room</a>
      </header>
      <main class="chat-main">
        <div class="chat-sidebar">
          <h3><i class="fas fa-comments"></i> Room Name: {{roomName}}</h3>
          <h2 id="room-name"></h2>
          <h3><i class="fas fa-users"></i> Users</h3>
          <ul id="users"></ul>
        </div>
        <div class="chat-messages"></div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form">
          <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div>
     <section class="container">
        <div id="toolbar">
            <h1>Draw</h1>
            <label for="stroke">Stroke</label>
            <input id="stroke" name="'stroke" type="color">
            <label for="lineWidth">Line Width</label>
            <input id="lineWidth" name="lineWidth" type="number" value="5">
            <button id="clear">Clear</button>
        </div>

        <div class="drawing-board">
            <canvas id="drawing-board"></canvas>
        </div>
    </section>

{{!-- <script>
    var gameRm = document.getElementById('gameRm');
    gameRm.innerHTML = window.location.pathname.split('/')[2];
</script> --}}