
<h1> GET READY TO DÜDLE </h1>
<div>
    <h3> DÜDLE SCORES {{highscore}}</h3>
    <p>
        CONCENTRATE ON THE DÜDLE 
    </p>
    <p>
        CURRENT DÜDLE - {{word}}
    </p>
</div>

<script>
    var gameRm = document.getElementById('gameRm');
    gameRm.innerHTML = window.location.pathname.split('/')[2];
</script>