
<h1> GET READY TO D端DLE </h1>
<div>
    <h3> D端DLE SCORES {{highscore}}</h3>
    <p>
        CONCENTRATE ON THE D端DLE 
    </p>
    <p>
        CURRENT D端DLE - {{word}}
    </p>
</div>

<script>
    var gameRm = document.getElementById('gameRm');
    gameRm.innerHTML = window.location.pathname.split('/')[2];
</script>