    <div class="gameRoom-name">
  <h1 id="dudl"> DÜDL </h1>
    </div>
<div class="game-room-header">
    <div class="randomWords">
    <p class="randoWords">
        
          {{> randomWords }}
        
    </p>
    </div>
    <div class="who-is-drawing">
        <p class="userInfo">
        </p></div>
    <div class="timer">
        <p class="timeDisplay"></p>
    </div> 
  <div>
      <h3 id="roomName"><i class="fas fa-comments"></i> Room Name: {{roomName}}</h3>
  </div>
</div>


{{!-- inject drawing board and chat box here --}}
{{> draw-chat }}

{{! <script>
    var gameRm = document.getElementById('gameRm');
    gameRm.innerHTML = window.location.pathname.split('/')[2];
</script> }}