{{! example for using useless helper function }}
<h1>WELCOME TO DÜDL! {{example_helper}}</h1>
<main>
  <h3>Before you can play, you need to join a portal or create a new one!</h3>
  <p>If you received a portal invite, type the portal name below:</p>
  <input type='text' placeholder='portal name' />
  <button type='submit'>Join Portal</button>

  <p>Or create a new portal:</p>
  {{!-- <input type='text' id='create-username' placeholder='Username' />
  <br> --}}
  <input type='text' id='create-room-name' placeholder='Room Name' />
  <br>
  <input type='password' id='create-room-password' placeholder='Room Password' />
  <br>
  <button id='create-room-btn'>Create Portal</button>
</main>
<container>
  <div>
    <h3>About</h3>
    <p><b>DÜDL</b> is a multiplayer drawing and guessing game. One game consists of 
    rounds where players take turns drawing a word while the other players try and guess 
    it to gain points. At the end of each round, the player with the most points wins!! </p>
    <br>
    <h3>How to Play</h3>
    <p>If it's your turn as the DÜDLER, you will choose a word and then have 90 seconds
    to draw that word. Or, if you're guessing, type your guess in the chat to gain points.
    Oh and think fast, because the quicker you answer the more points you will get!!</p>
  </div>
</container>

{{! example for using the current_user helper function }}
{{! <a href='/lobby'>GO TO OTHER PAGE</a> }}