{{! example for using useless helper function }}
<div class="homePage">


  <div class="mainCont">
      <main>
        
        {{!-- prompt user to input information in here about rooms --}}

        {{> modal }}
      
      </main>
  </div> 
</div>  