{{! example for using useless helper function }}
 {{! this is the main html file wrapper for all your views }}
  <div class="level-item welcomeContainer">

    <div class="welcomeContent">
      <p>WELCOME TO</p>
      <p>DÜDL</p>
    </div>
      <div class="blobs_1"></div>
  </div>
<div class="homePage">


  <div class="mainCont">
      <main>
        
        {{!-- prompt user to input information in here about rooms --}}

        {{> modal }}
      
      </main>
  </div> 
</div>  