{{! example for using useless helper function }}
<h1>WELCOME TO DüDL! {{example_helper}}</h1>
<main>
  <input type='text' name='name' placeholder='portal name' />
  <button type='submit'>Join Portal</button>

  <p>Or create a new portal:</p>
  <input type='text' id='create-portal' name='name' placeholder='username' />
  <button id='create-room-btn'>Create Portal</button>
</main>
<container>
  <div
    {{!-- class='panel-group informationTabs'
    id='accordion'
    style='margin:0;padding:8px;'
    role='tablist'
    aria-multiselectable='true' --}}
  >
    <div id='tabAbout' role='tab'>
      <h3><a
          {{!-- role='button'
          data-toggle='collapse'
          data-parent='#accordion'
          href='#collapseAbout'
          aria-expanded='false'
          aria-controls='collapseAbout'
          class='collapsed' --}}
        >About</a></h3>
    </div>
    <div
      {{!-- class='panel-collapse collapse'
      id='collapseAbout'
      role='tabpanel'
      aria-labelledby='tabAbout'
      aria-expanded='false'
      style='height: 0px;' --}}
    >
      <b>DüDL</b>
      IS A MULTIPLAYER DRAWING AND GUESSING GAME. ONE GAME CONSIST OF ROUNDS
      WHERE PLAYERS TAKE TURNS DRAWING A WORD WHILE THE OTHERS TRY AND GUESS IT
      TO GAIN POINTS. AT THE END OF EACH ROUND, THE PLAYER WITH THE MOST POINTS
      WINS!!
    </div>
    <div id='tabHow' role='tab'>
      <h3><a
          {{!-- class='collapsed'
          role='button'
          data-toggle='collapse'
          data-parent='#accordion'
          href='#collapseHow'
          aria-expanded='false'
          aria-controls='collapseHow' --}}
        >How to Play</a></h3>
    </div>
    <div
      {{!-- class='panel-collapse collapse'
      id='collapseHow'
      role='tabpanel'
      aria-labelledby='tabHow'
      aria-expanded='false'
      style='height: 0px;' --}}
    >IF ITS YOUR TURN AS THE DüDLER, YOU WILL CHOOSE A WORD AND THEN HAVE
    90 SECONDS TO DRAW THAT WORD. OR, IF YOU'RE GUESSING, TYPE YOUR GUESS 
    IN THE CHAT TO GAIN POINTS. OH AND THINK FAST, BECAUSE THE QUICKER 
    YOU ANSWER THE MORE POINTS YOU WILL GET!!</div>
  </div>
</container>

{{! example for using the current_user helper function }}
{{! <a href='/lobby'>GO TO OTHER PAGE</a> }}