{{!-- this is for waiting for other players to join --}}

<h1>WELCOME TO ROOM {{roomid}} </h1>
<div>
    <h3>DüDLERS IN ROOM CURRENTLY {{numPlayers}}</h3>
    <p>
        WAITING FOR FELLOW DüDLERS...
    </p>
    <p>ROOM ID - {{roomid}}</p>
    <p>CLICK THE BUTTON TO START YOUR GAME</p>
    <button id='btn' type="button" onclick="startGame();">CLICK ME!</button>
    <a href='/gameRoom'>GO TO OTHER PAGE</a>
</div>

<script>
    var roomId = document.getElementById('room-id');
    roomId.innerHTML = window.location.pathname.split('/')[2];

    var startGame = document.getElementById('btn');
    startGame.innerHTML = window.location.href = 'http://localhost:3001/gameRoom';
                
</script>
