{{!-- this is for waiting for other players to join --}}

<h1>THIS IS THE ROOM ID <span id="room-id"></span></h1>
<div>
    <h3>DUDLERS IN ROOM CURRENTLY {{numPlayers}}</h3>
    <p>
        WAITING FOR FELLOW DUDLERS...
    </p>
    <p>ROOM ID - {{roomid}}</p>
</div>

<script>
    var roomId = document.getElementById('room-id');
    roomId.innerHTML = window.location.pathname.split('/')[2];
</script>
