@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
/* home page modal styling */

.modal-wrap {
  position: fixed;
  width: 650px;
  top: 30%;
}

/* start of chat box styling */
header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
   /* .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  } 
  
   .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  } 
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  } */


  /* Chat box */
  
  .chat-container {
    max-width: 40%;
    height: fit-content;
    background: #fff;
    margin: 10px;
    overflow: hidden;
  }
  
  .chat-header {
    background: var(--dark-color-a);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chat-main {
    height: 36vh;
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
  }
  
  .chat-sidebar {
    height: 100%;
    color: #fff;
    padding: 20px 20px 60px;
    margin-right: 10px;
    /* overflow-y: scroll; */
  }
  
  .chat-sidebar h2 {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .chat-sidebar h3 {
    margin-bottom: 15px;
  }
  
  .chat-sidebar ul li {
    padding: 10px 0;
  }
  
  .chat-messages {
    padding: 30px;
    max-height: 500px; 
    overflow-y: scroll;
  }
  
  .chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--light-color);
    border-radius: 5px;
    overflow-wrap: break-word;
  }
  
  .chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: var(--dark-color-b);
    opacity: 0.7;
    margin-bottom: 7px;
  }
  
  .chat-messages .message .meta span {
    color: #777;
  }
  
  .chat-form-container {
    padding: 20px 30px;
    background-color: #fff;
  }
  
  .chat-form-container form {
    display: flex;
  }
  
  .chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
  }
  /* end of chat box styling */
  body {
    /* background-image: url(https://images.unsplash.com/photo-1559141866-744efe90686b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80); */
    font-family: 'Roboto', sans-serif;
    font: var(--light-color);
    font-size: 16px;
    background: rgb(95,37,224);
    background: linear-gradient(90deg, 
    rgba(95,37,224,0.19061478758169936) 26%, 
    rgba(61,37,224,0.30499387254901966) 100%);
    /* margin: 4px; */
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
/* making drawing board and chat box side by side */
.flex-container {
  display: flex;
  justify-content: space-around;
  display: flex;
  padding: 5px;
}

.leave-btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}


/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
/* .columns {
  flex-wrap: center;
  margin-left: 40%;
  font-size: 25px;
  height: 75px;
} */

.level-item h1{
  color:#f8b595;
}
.box {
  margin: 2%;
  height: 58%;
  /*box-shadow: 9px 9px 10px 9px grey;*/
  box-shadow: 8px 8px 8px 9px rgba(55, 53, 53, 0.5);
}

.mainCont {
  text-align: center;
  font-size: 28px;
}

main > p {
  margin-bottom: 45px;
}

.aboutCont {
  margin: 74;
  text-align: center;
  font-size: 19px;
<<<<<<< HEAD
  padding: 0%
  
}
=======
  padding: 0%;
}
/* game room styles */
.game-room-header {
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* drawing board styles */
.drawing-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  display: flex;
}
/* .drawing-board {
  display: flex;
  width: fit-content;
  position: relative;
  border: 1px solid #202020;
  background-color: white;
  border-radius: 15px;
} */

#toolbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 5px;
    width: 500px;
    border-radius: 15px;
    /* background-color: #202020; */
    top: 650;
}

.canvas-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: 100%;
    height: 100%; */
}

.tool-align {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-content: center;
}

/* .tool-align * {
  margin-right: 16px;
} */

.tool-align label {
  font-size: 12px;
  margin-bottom: 10px;
}

.tool-align input {
  width: 100%;
  height: 30px;
}

.canvas-tools button {
  align-items: center;
  background-color: #1565c0;
  width: 50px;
  height: 30px;
  margin-top: 22px;
  border: none;
  border-radius: 4px;
  color:white;
  padding: 2px;
}

>>>>>>> 1faed3eb24362ab29ba7b485c70235f814f33a6b
